---
import Layout from '@/layouts/Layout.astro'
import TrustBar from '@/components/astro/TrustBar.astro'
import ProblemSection from '@/components/astro/ProblemSection.astro'
---

<Layout>
  <main>
    <TrustBar />
    <ProblemSection />
  </main>
</Layout>
